.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 30%;
  background-color: #0d1430;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  flex-direction: column;
}

.login-container input {
  outline: none;
  padding: 0.5rem;
  border-radius: 6px;
  width: 50%;
  margin: 1rem;
}

.login-container input[type="number"]:focus {
  outline: none;
  border-color: #007bff; /* Change to your preferred focus color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow */
}

.login-text {
  font-weight: 700;
  font-size: 2rem;
  color: #ccc;
  justify-content: flex-end;
}

.login-button {
  width: 55%;
  cursor: pointer;
  background-color: #deae52;
  padding: 0.5rem;
  border-radius: 6px;
  color: #0d1430;
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem;
}

.login-button:hover {
  background-color: #c6812b;
}

@media screen and (max-width: 620px) {
  .login-container {
    width: 85%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
